/target
Cargo.lock
perpetual/__pycache__
.vscode/
.venv
resources/*
!resources/perp_logo.png
python-package/Cargo.lock
python-package/LICENSE
python-package/README.md
python-package/target
python-package/python/perpetual/__pycache__