repos:
- repo: https://github.com/FeryET/pre-commit-rust
  rev: v1.2.1
  hooks:
  - id: fmt
  - id: cargo-check
  - id: clippy
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
  - id: ruff-check
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/kynan/nbstripout
  rev: 0.9.0
  hooks:
  - id: nbstripout
