repos:
-   repo: https://github.com/doublify/pre-commit-rust
    rev: "v1.0"
    hooks:
    -   id: fmt
    -   id: cargo-check
    -   id: clippy
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.5.0
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
