useDynLib(perpetual, .registration = TRUE)
export(perpetual)
export(perpetual_save)
export(perpetual_load)
export(perpetual_calibrate)
export(perpetual_importance)
export(perpetual_to_json)
export(perpetual_n_trees)
export(perpetual_base_score)
export(PerpetualBooster)

S3method(predict, PerpetualBooster)
S3method(print, PerpetualBooster)
