name: docs
on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install latest stable Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install dependencies
        run: |
          cd package-python
          python -m venv .venv
          source .venv/bin/activate
          pip install maturin
          pip install .[dev]
          pip install sphinx sphinx_rtd_theme numpydoc
          maturin develop --release

      - name: Build Python Documentation
        run: |
          cd package-python
          source .venv/bin/activate
          cd docs
          sphinx-build -b html source build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: package-python/docs/build/html
